@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
 
}
.banner {
  margin-top: 0;
  padding: 80px 0 70px 0;
  background-image: url('../../assets/bg.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(90, 87, 89, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  top: 100px;
  color: white;
  
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  color: white;
}
.banner .txt-rotate {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  color: white;
}
.banner p {
  color: #ebe2e2;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.banner button {
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  background: linear-gradient(90.21deg, rgba(90, 87, 89, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner .sideimg {
  animation: updown 3s linear infinite;
  height: 400px;
  width: 80%;
  margin-bottom: 100px;
  margin-left: 50px;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}





